name: Test and Publish

on:
  push:
    branches: ['*']
    tags: ['v*','V*']

  pull_request:
    branches: ['*']
    tags: ['v*','V*']

  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable' # or: 'dev' or 'beta'

    - name: Install packages dependencies
      run: flutter pub get

    - name: Analyze the project's Dart code
      run: flutter analyze

    - name: Run tests
      run: flutter test

    - name: Run tests coverage
      run: flutter test --coverage

  publish:
    # if: "(contains(github.event.head_commit.message, '[pub]') &&
    #     contains('
    #       refs/heads/master
    #       refs/heads/develop
    #       refs/tags
    #       refs/tags/releases',
    #       github.ref)) ||
    #     startsWith('
    #       refs/tags/
    #       refs/tags/releases/',
    #       github.ref)"

    name: Publish
    permissions:
      id-token: write # This is required for authentication using OIDC
    needs: [test]
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - name: Install dependencies
      run: flutter pub get
    - name: code format
      run: dart format lib/*/*.dart lib/*.dart
    - name: Publish pkg
      run: dart pub publish --force